<%
# current_page.data.title = ""
# current_page.data.description = ""
# current_page.data.keywords = ""
# current_page.data.local = ""
# current_page.data.type = ""
# current_page.data.image = ""
# current_page.data.card = ""
# current_page.data.author = ""
# current_page.data.color = ""
current_page.data.className = 'home'

page = data.home
%>

<div class="container">
  <div class="page_home__title">
    <h2><%= page.subtitle %></h2>
    <h1><%= page.title %></h1>
  </div>
  <div class="row">
    <div class="col-md-3 js_deck">
      <div class="page_home__cards">
        <% page.cards.each do |card| %>
          <div class="card__container js_card_container">
            <div class="card js_card">
              <div class="card__front">
                <%= image_tag(card.image, class: 'js_card_image') %>
              </div>
              <div class="card__back">
                <p><%= card.text  %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="loader loader--active js_loader">
  <p>Chargement</p>
</div>
